
    body{ 
      margin-top: 0em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
      background-color:lavender;
      color:purple;
      text-align: center;
    }
    input{
      width:12em;
      padding:.5em;
      border-radius:.5em;
      margin:0.5em 0;
    }
    button {
     
      padding: 15px 25px;
      font-size: 15px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color:purple;
      border: none;
      border-radius: 15px;      
    }
    #center {
      display: flex;
      justify-content: center;
    } 
    #big{
      color:orangered;
      font-size: 2em;
    }
    h1{
      font-size:3.5em;
    }
    
    footer{
      bottom:0em;
    }