
body{ 
  margin-top: 0em;
  /* margin-bottom: 2em; */
  margin-left: 3em;
  margin-right: 3em;
  background-color:#190c1d;
  color:white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
input{
  width:75%;
  height: 3em;
  padding:.5em;
  border-radius:.5em;
  margin-bottom:2%;
  font-family: 'Quicksand', sans-serif;
}
button {
  
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:rgb(228, 2, 228);
  border: none;
  border-radius: 15px;   
  font-family: 'Quicksand', sans-serif;   
}
#center {
  display: flex;
  justify-content: center;
} 
#big{
  color:orangered;
  font-size: 1.5em;
  background-color:white;
  padding-bottom: 1em;
  padding-top: 1em;
  border-radius: 0.25em;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size:3.5em;
  color:rgb(228, 2, 228);
}

      
a:visited {
  color: lightblue;
}

a:link {
  color: hotpink;
}

a:hover {
  color: hotpink;
}

#info {
  background-color:rgba(255, 255, 255, 0.044);
  border-radius: 1em;
  padding:0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 75%;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
}
ul{
  text-align: center;
  list-style-type: "";
}

h3{
  color:orange;
}
#input{
  background-color:rgba(255, 255, 255, 0.044);
  border-radius: 1em;
  padding:0.5em;
  width: 95%;
  /* padding-left: 1.5em;
  padding-right: 1.5em; */
  margin-top: 0em;
  margin:auto;
  text-align: center;
}
input[title]:hover::after {
  
  color:red;
}
h2 {
  font-size: 200%;
  font-family: 'Quicksand', sans-serif;
}