
    body{ 
      margin-top: 0em;
      /* margin-bottom: 2em; */
      margin-left: 2em;
      margin-right: 2em;
      background-color:lavender;
      color:purple;
      text-align: center;
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
    input{
      width:12em;
      padding:.5em;
      border-radius:.5em;
      margin:0.5em 0;
    }
    button {
     
      padding: 15px 25px;
      font-size: 15px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color:purple;
      border: none;
      border-radius: 15px;      
    }
    #center {
      display: flex;
      justify-content: center;
    } 
    #big{
      color:orangered;
      font-size: 1.5em;
      background-color:rgb(255, 255, 237);
      line-height: 0.5;
      padding-bottom: 1em;
      padding-top: 0.1em;
      border-radius: 10em;
      
    }
    h1{
      font-size:3.5em;
    }
    
    