<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Diabetes Prediction</title>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>

</head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<body>
 <div >
	<h1 style="text-align: center; margin-bottom: 0px;">Diabetes Prediction</h1>
  <h2 style = "color: white; font-size: 1em;">made by <a href = "https://anshimathur1.netlify.app/">anshi mathur</a></h2>
  <div id="info">
    <h2>What is diabetes?</h2>
    <ul>
  <li>Diabetes is a disease that occurs when the body cannot produce insulin or can't regulate its production. </li>
  <li>It is long-lasting and can cause serious problems like heart disease and vision loss. </li>
</ul>
  <h3>The earlier someone identifies their risk of diabetes, the sooner they can start receiving necessary treatment.
 </h3></div>
 <br>
 <p>Enter your information to see if you are at risk of getting diabetes:</p>
 <div id="input">
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post" netlify netlify-honeypot="bot-field">
      <input type="text" name="Glucose" placeholder="Glucose" required="required" />
		  <input type="text" name="BloodPressure" placeholder="Blood Pressure (Diastolic)" required="required" />
		  <input type="text" name="SkinThickness" placeholder="Skin Thickness (mm)" required="required" />
      <input type="text" name="Insulin" placeholder="Blood Glucose (mg/dL)" required="required" />
      <input type="text" name="BMI" placeholder="BMI" required="required" />
		  <input type="text" name="DiabetesPedigreeFunction" placeholder="Diabetes Pedigree Function" required="required" />
		  <input type="text" name="Age" placeholder="Age" required="required" />
    </div>
      <br>
      <div id="center">
        <button type="submit" >Predict</button>
      </div>
      <p style="color:white;font-size: 2em;">Your Prediction:</p>
      <div id="big">
      {{ prediction_text }}
      </div>
      
    </form>

     
 </div>

</body>
</html>
